<section class="hero is-medium">
  <div class="hero-head">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Blog Posts
            </a>
          </div>

        </div>
      </nav>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="https://github.com/hotwired/turbo-rails/blob/main/assets/logo.png?raw=true" width="150" height="40">
      <h2 class="subtitle">
        Sample Blog Post Site for Showing off TurboStream
      </h2>
    </div>
  </div>
</section>
<%= yield %>
