<div class="column is-12 post">
  <article class="columns featured">
    <div class="column is-7 post-img ">
      <img src=<%=post.image_link %> alt="">
    </div>
    <div class="column is-5 featured-content va">
      <div>
        <h3 class="heading post-category"><%= post.title %></h3>
        <h1 class="title post-title"><%= post.title %></h1>
        <p class="post-excerpt"><%= post.content %></p>
        <br>
        <a href="#" class="button is-primary">Read More</a>
      </div>

    </div>
  </article>
</div>
