<div class="column post is-4">
  <article class="columns is-multiline">
    <div class="column is-12 post-img">
      <img src=<%=post.image_link %> alt="">
    </div>
    <div class="column is-12 featured-content ">
      <h3 class="heading post-category"><%= post.title %></h3>
      <h1 class="title post-title"><%= post.title %></h1>
      <p class="post-excerpt"><%= post.content %></p>
      <br>
      <a href="#" class="button is-primary">Read More</a>
    </div>
  </article>
</div>
